div class="history-card">
        <div class="row space-between">
            <span class="font-20 bold gray">구매확정완료</span>
            <img src="./icon/x-lightgray.svg" alt="">
        </div>
        <div class="row gap-small">
            <div class="history-img">
                <img src="#" alt="">
            </div>
            <div class="col fill">
                <div class="col" style="justify-content: center;">
                    <span class="font-14 gray">gray text</span>
                    <span class="font-16">item text</span>
                    <span class="font-16 bold">price</span>
                </div>
                <div class="row space-between">
                    <span class="font-14 green">order detail ></span>
                    <span class="font-14 gray">question ></span>
                </div>
            </div>
        </div>
        <div class="row gap-small">
            <button class="center-btn" id="green-btn">type</button>
            <button class="center-btn">type</button>
            <button class="center-btn" style="flex: 0 !important;">...</button>
        </div>
    </div>
    <!--  -->
    <div class="history-card-wrapper">
        <div class="history-card">
            <div class="row space-between">
                <span class="font-20 bold gray">구매확정완료</span>
                <img src="./icon/x-lightgray.svg" alt="">
            </div>
            <div class="row gap-small">
                <div class="history-img">
                    <img src="#" alt="">
                </div>
                <div class="col fill">
                    <div class="col" style="justify-content: center;">
                        <span class="font-14 gray">4. 6. 12:49 결제</span>
                        <span class="font-16">힐링맥스 M-1</span>
                        <span class="font-18 bold">48,000원</span>
                    </div>
                    <div class="row space-between">
                        <span class="font-16 green">주문상세 ></span>
                        <span class="font-16 gray">스토어팜 문의 ></span>
                    </div>
                </div>
            </div>
            <div class="row gap-xsmall">
                <button class="center-btn" id="green-btn">리뷰쓰기</button>
                <button class="center-btn">재구매</button>
                <button class="center-btn" style="flex: 0 !important;">...</button>
            </div>
        </div>
    </div>
    <div class="history-card-wrapper">
        <div class="history-card">
            <div class="row space-between">
                <span class="font-20 bold">결제완료</span>
                <img src="./icon/x-lightgray.svg" alt="">
            </div>
            <div class="row gap-small">
                <div class="history-img">
                    <img src="#" alt="">
                </div>
                <div class="col fill">
                    <div class="col" style="justify-content: center;">
                        <span class="font-14 gray">4. 6. 12:49 결제</span>
                        <span class="font-16">힐링맥스 M-1</span>
                        <span class="font-18 bold">48,000원</span>
                    </div>
                    <div class="row space-between">
                        <span class="font-16 green">주문상세 ></span>
                        <span class="font-16 gray">스토어팜 문의 ></span>
                    </div>
                </div>
            </div>
            <div class="row gap-xsmall">
                <button class="center-btn" id="green-btn">리뷰쓰기</button>
                <button class="center-btn">재구매</button>
                <button class="center-btn" style="flex: 0 !important;">...</button>
            </div>
        </div>
    </div>
    <div class="history-card-wrapper">
        <div class="history-card">
            <div class="row space-between">
                <span class="font-20 bold">결제완료</span>
                <img src="./icon/x-lightgray.svg" alt="">
            </div>
            <div class="row gap-small">
                <div class="history-img">
                    <img src="#" alt="">
                </div>
                <div class="col fill">
                    <div class="col" style="justify-content: center;">
                        <span class="font-14 gray">4. 6. 12:49 결제</span>
                        <span class="font-16">힐링맥스 M-1</span>
                        <span class="font-18 bold">48,000원</span>
                    </div>
                    <div class="row space-between">
                        <span class="font-16 green">주문상세 ></span>
                        <span class="font-16 gray">스토어팜 문의 ></span>
                    </div>
                </div>
            </div>
            <div class="row gap-xsmall">
                <button class="center-btn" id="green-btn">리뷰쓰기</button>
                <button class="center-btn">재구매</button>
                <button class="center-btn" style="flex: 0 !important;">...</button>
            </div>
        </div>
    </div>